.button{
	border-radius:30px;
}

.is-underline-input{
	border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    border-radius: 0;
    background:none;
    color:white;
}

.is-underline-input:focus{
	border-bottom: 1px solid #fff;
}

.has-big-text{
	font-size: 1.5em;
	
}

.form-section{
	align-items: center;
}

.select-box-wrapper{
	position:relative;
	z-index:10;
}

.select-box{
	position: absolute;
	left:0px;
	top:55px;
	display:flex;
	max-width:300px;
}

.select-box-item{
	padding: 5px 20px;
    width:100%;
    background-color: white;
    color:#717171;
    font-size:.9em;
    text-transform: uppercase;
    display:flex;
    flex-direction: row;
    justify-content: center;
	margin:5px;
	white-space: nowrap;
}

.select-box-item:hover{
	cursor:pointer;
	color:white;
	background-color:$soft-red;
}

.select-box-choice{
	padding: 9px 30px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
    margin-right: 10px;
}

.select-box-choice:hover{
	color:white;
	cursor:pointer;
	border-bottom: 1px solid #bdbdbd;
}

.img-circle{
	width:30px;
	border-radius: 30px;
	margin-right:5px;
}

.color-bullet{
	width:8px;
	height:8px;
	margin-right:10px;
}

.is-selected{
	color:white;
	background-color:$soft-red;
}

.ticket-submit{
	padding: 0px 20px;
    margin-top: 2px;
    height: 37px;
}

.animate{
	transition: all .2s ease-in-out;
}

.dark-gradient{
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #606c88 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #3f4c6b 0%,#606c88 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #3f4c6b 0%,#606c88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-image: url(/images/header.jpg);
    background-size: cover;
    background-position-y: 40%;
}

.full-width-component{
	position: relative;
	width:100%;
	padding:100px;
	min-height: 250px;
	overflow:hidden;
	z-index:10;
}

.add-button{
	width: 40px;
    height: 40px;
    padding: 0!important;
    border-radius: 30px;
    border: none;
    border:1px dashed #fff;
    background: none;
    color:white;
    cursor:pointer;
    transform: rotate(0deg);
    margin-top:7px;
    margin-left: 20px;
}

.add-button:hover{
    /*transform: rotate(90deg);*/
	border:1px solid #fff;
}

.add-button>.fa{
	font-size:16px!important;
}

.add-button:focus{
	outline:0;
}

.is-white{
	color:white;
}

.is-green{
	color:#91d279!important;
}

.button-controls{
	display:flex;
	justify-content: center;
	margin-top:50px;
}

.button-controls button{
	margin:5px;
}

.pr-10{
	padding-right:10px;
}

.is-small-icon{
	font-size:1em;
    color: #b1b1b1;
    padding:4px;
}

.button:hover{
	color:#ec7474;
}



a{
	color:#ec7474;
}

a:hover{
	color:darken(#ec7474, 10%);
}

.list-item-center-top a{
	color:#afafaf;
}


.list-item-center-top a:hover{
	color:#ec7474;
}

.nav-item a.is-tab:hover, a.nav-item.is-tab:hover{
	border-bottom-color:$soft-red;
}

.has-border-right{
	border-right:1px solid #eee;
}